@font-face {
  font-family: openSansBold;
  src: url(../fonts/opensans/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: openSansnormal;
  src: url(../fonts/opensans/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Italianno;
  src: url(../fonts/Italianno-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "openSansnormal", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

body {
  background-color: #0e0c0f;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

.ourTeam-section .ourTeam .ourTeam-content .team-members, .ourStory-section .ourStory-content, .about-section .about-section-boxes .boxes-container, .desert-section .desert-list-items .desert-items, .food-menu-section .food-menu-list-item .item-detail, .footer-content-top .footer-nav, .footer-content-top, .place-section .main-content .photos, .place-section .main-content, .menu-section .main-content .menu, .menu-section .main-content, .story-section .story-content .grid-images-col1, .story-section .story-content .grid-images, .story-section .story-content, .header .headercontainer .nav .list-Items, .header .headercontainer .nav .res-menu, .form-group {
  justify-content: space-between;
}

.about-section .about-section-boxes .boxes-container .box .box-info .detail, .about-section .about-section-boxes, #reservation-header .banner, .desert-section .desert-list-items, .desert-banner-section .banner #desert-banner, .desert-banner-section .banner, .food-menu-section .food-menu-list-item, .food-menu-section .food-menu, #menu-header .banner, .reservation-section .banner .bannerCta, .reservation-section .banner, .menu-section .main-content .menu .menu-detail .food-detail, .header .headercontainer .banner #bannerCta .text, .header .headercontainer .banner, .header .headercontainer .nav, .smallBtn, .mediumBtn, .largeBtn, .section {
  justify-content: center;
}

.container {
  width: 80%;
  height: 100%;
}

h2 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.preLine {
  white-space: pre-line;
}

.small-text {
  font-size: 1.3rem;
  font-weight: normal;
}

.mediumtitle {
  font-family: "Italianno", sans-serif;
  font-size: 3rem;
}

.small-title {
  font-family: "Italianno", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.section {
  width: 100%;
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bannerTitle {
  text-align: center;
  font-size: 6rem;
  font-family: "Italianno", sans-serif;
  color: #ffffff;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .bannerTitle {
    font-size: 4rem;
  }
}

.largetitle {
  font-family: "Italianno", sans-serif;
  font-size: 4.5rem;
}

.hidden {
  display: none;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 990px) {
  .largetitle {
    font-size: 4rem;
  }
}
@media screen and (max-width: 540px) {
  * {
    font-size: 15px;
  }
}
.form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

input,
select {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}
input:focus, input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

.largeBtn {
  color: #000000;
  height: 48px;
  width: 50%;
  font-size: 18px;
  background-color: #e49031;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mediumBtn {
  color: #000000;
  height: 48px;
  width: 200px;
  font-size: 18px;
  background-color: #e49031;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.smallBtn {
  color: #000000;
  height: 48px;
  width: 120px;
  font-size: 18px;
  background-color: #e49031;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

form {
  width: 90%;
  margin: 45px 0;
}
form .form-group-1 > .form-field {
  width: 45%;
}
@media screen and (max-width: 768px) {
  form .form-group-1 > .form-field {
    width: 100%;
    margin-bottom: 15px;
  }
}
form .form-group-2 .form-field:nth-child(even) {
  width: 40%;
}
@media screen and (max-width: 768px) {
  form .form-group-2 .form-field:nth-child(even) {
    width: 100%;
    margin-bottom: 15px;
  }
}
form .form-group-2 .form-field:nth-child(odd) {
  width: 25%;
}
@media screen and (max-width: 768px) {
  form .form-group-2 .form-field:nth-child(odd) {
    width: 100%;
    margin-bottom: 15px;
  }
}

#date {
  position: relative;
}
#date::-webkit-calendar-picker-indicator {
  background: none;
  z-index: 1;
}
#date::before {
  content: url("../img/akar-icons_chevron-down.png");
  position: absolute;
  top: 2px;
  right: 2px;
}

#time {
  background-image: url("../img/akar-icons_chevron-down.png");
  background-repeat: no-repeat;
  background-position: right center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(../img/akar-icons_chevron-down.png) no-repeat 100% center;
}
select option {
  background-color: #000000;
}

.header {
  background: url(../img/image.png) no-repeat center;
  background-size: cover;
  height: 650px;
  width: 100%;
}
.header .headercontainer .nav {
  background: linear-gradient(180deg, #000000 -26.87%, rgba(0, 0, 0, 0) 119%);
  min-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header .headercontainer .nav .res-menu {
  display: none;
}
.header .headercontainer .nav .res-menu .menu-icon,
.header .headercontainer .nav .res-menu .res-logo {
  z-index: 11;
}
@media screen and (max-width: 990px) {
  .header .headercontainer .nav .res-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.header .headercontainer .nav .list-Items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .header .headercontainer .nav .list-Items {
    height: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    opacity: 0;
    position: fixed;
    top: -700px;
    flex-direction: column;
    transition: all ease 0.6s;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .header .headercontainer .nav .list-Items .logo {
    display: none;
  }
  .header .headercontainer .nav .list-Items.show {
    top: 0;
    padding-top: 100px;
    height: 100%;
    opacity: 1;
    transition: all ease 0.6s;
  }
}
.header .headercontainer .nav .list-Items .Item {
  padding: 5px;
}
.header .headercontainer .nav .list-Items .Item .link {
  position: relative;
  color: #ffffff;
  line-height: 40px;
  display: block;
}
.header .headercontainer .nav .list-Items .Item .link::before {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: #e49031;
  width: 0;
  transition: all ease 0.3s;
}
.header .headercontainer .nav .list-Items .Item .link:hover::before {
  width: 100%;
}
.header .headercontainer .banner {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .headercontainer .banner #bannerCta {
  z-index: 1;
  position: relative;
  border: 5px solid #ffffff;
  border-bottom: none;
  height: 100%;
  width: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 75px;
}
.header .headercontainer .banner #bannerCta .cta {
  position: absolute;
  bottom: -24px;
  left: 25%;
}
.header .headercontainer .banner #bannerCta::before {
  content: "";
  height: 5px;
  width: 20%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  left: 0;
}
.header .headercontainer .banner #bannerCta::after {
  content: "";
  height: 5px;
  width: 20%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  right: 0;
}
.header .headercontainer .banner #bannerCta .text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .headercontainer .banner #bannerCta .text p {
  text-align: center;
  white-space: pre-line;
}
@media screen and (max-width: 768px) {
  .header .headercontainer .banner #bannerCta {
    width: 75%;
  }
}

.story-section {
  min-height: 650px;
}
.story-section .story-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.story-section .story-content .grid-images {
  height: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}
.story-section .story-content .grid-images img {
  width: 100%;
}
.story-section .story-content .grid-images-col1 {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
.story-section .story-content .grid-images-col1 .image1 {
  height: calc(34% - 10px);
}
.story-section .story-content .grid-images-col1 .image2 {
  height: calc(66% - 10px);
}
.story-section .story-content .grid-images-col2 {
  width: calc(50% - 10px);
  height: 100%;
}
.story-section .story-content .grid-images-col2 .image3 {
  height: 100%;
}
@media screen and (max-width: 990px) {
  .story-section .story-content .grid-images {
    width: 80%;
    order: 1;
  }
}
@media screen and (max-width: 768px) {
  .story-section .story-content .grid-images {
    height: 60%;
  }
}
@media screen and (max-width: 540px) {
  .story-section .story-content .grid-images {
    height: 50%;
    width: 100%;
  }
  .story-section .story-content .grid-images .image1,
.story-section .story-content .grid-images .image2,
.story-section .story-content .grid-images .image3 {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .story-section .story-content .grid-images-col1, .story-section .story-content .grid-images-col2 {
    width: 100%;
  }
}
.story-section .story-content .description {
  width: 35%;
}
@media screen and (max-width: 990px) {
  .story-section .story-content .description {
    width: 80%;
    margin-bottom: 50px;
  }
}
.story-section .story-content .description p {
  line-height: 24px;
  white-space: pre-line;
}
.story-section .story-content .description p:last-of-type {
  padding-top: 25px;
}
@media screen and (max-width: 990px) {
  .story-section .story-content {
    justify-content: center;
  }
}

.menu-section {
  min-height: 550px;
  position: relative;
  z-index: 1;
}
.menu-section::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu-section::after {
  content: url("../img/image 39.png");
  width: 100%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  left: 0;
  z-index: 3;
  filter: blur(15px);
  contain: content;
  -webkit-filter: blur(15px);
  -o-filter: blur(15px);
}
.menu-section .main-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  z-index: 10;
}
.menu-section .main-content .title {
  width: 20%;
}
.menu-section .main-content .menu {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu-section .main-content .menu .menu-detail {
  width: 32%;
  border: 3px solid #ffffff;
  height: 100%;
  background-color: #0e0c0f;
  transition: all ease 0.3s;
}
.menu-section .main-content .menu .menu-detail h4 {
  color: #e49031;
  transition: all ease 0.3s;
}
.menu-section .main-content .menu .menu-detail:hover {
  background-color: #e49031;
}
.menu-section .main-content .menu .menu-detail:hover h4 {
  color: #0e0c0f;
}
.menu-section .main-content .menu .menu-detail img {
  width: 100%;
}
.menu-section .main-content .menu .menu-detail .food-detail {
  width: 100%;
  line-height: 100px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 440px) {
  .menu-section .main-content .menu .menu-detail {
    width: 80%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 990px) {
  .menu-section .main-content {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .menu-section .main-content .title {
    text-align: center;
    width: 80%;
  }
  .menu-section .main-content .menu {
    width: 100%;
  }
}

.place-section {
  min-height: 650px;
}
.place-section .main-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.place-section .main-content .description {
  width: 46%;
}
.place-section .main-content .description h2,
.place-section .main-content .description p {
  white-space: pre-line;
}
.place-section .main-content .description .mediumBtn {
  margin-top: 50px;
}
.place-section .main-content .photos {
  width: 46%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.place-section .main-content .photos .imgContainer {
  position: relative;
  height: 100%;
  width: 32%;
}
.place-section .main-content .photos .imgContainer img {
  height: 80%;
  width: 100%;
}
.place-section .main-content .photos .imgContainer:nth-of-type(2) {
  margin-top: 100px;
}
.place-section .main-content .photos .imgContainer:nth-of-type(3) {
  margin-top: 200px;
}
@media screen and (max-width: 768px) {
  .place-section .main-content .photos,
.place-section .main-content .description {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 440px) {
  .place-section .main-content .photos .imgContainer {
    width: 80%;
    margin: 0 auto;
  }
}

.gallery-section {
  position: relative;
  min-height: 550px;
  padding-bottom: 0;
  background-size: 100%;
  z-index: 1;
}
.gallery-section::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery-section::after {
  content: url("../img/gallerybg.png");
  width: 100%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  left: 0;
  z-index: 3;
  filter: blur(15px);
  contain: content;
  -webkit-filter: blur(15px);
  -o-filter: blur(15px);
}
.gallery-section .main-content {
  height: 90%;
  width: 80%;
  position: relative;
  top: 5%;
  left: 10%;
  z-index: 10;
}
.gallery-section .main-content .gallery {
  height: 80%;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
}
.gallery-section .main-content .gallery-grid-content {
  height: 100%;
  display: grid;
  width: 100%;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 10px;
  grid-template-areas: "ph1 ph2 ph4 ph5" "ph1 ph3 ph4 ph6";
}
.gallery-section .main-content .gallery-grid-content .photo1 {
  grid-area: ph1;
}
.gallery-section .main-content .gallery-grid-content .photo2 {
  grid-area: ph2;
}
.gallery-section .main-content .gallery-grid-content .photo3 {
  grid-area: ph3;
}
.gallery-section .main-content .gallery-grid-content .photo4 {
  grid-area: ph4;
}
.gallery-section .main-content .gallery-grid-content .photo5 {
  grid-area: ph5;
}
.gallery-section .main-content .gallery-grid-content .photo6 {
  grid-area: ph6;
}
.gallery-section .main-content .gallery-grid-content .photo img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .gallery-section .main-content .gallery {
    height: auto;
  }
  .gallery-section .main-content .gallery-grid-content {
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
    grid-template-areas: "ph1 ph2" "ph1 ph3" "ph4 ph5" "ph4 ph6";
  }
}

.reservation-section {
  min-height: 550px;
}
.reservation-section .banner {
  width: 100%;
  min-height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reservation-section .banner .bannerCta {
  z-index: 1;
  position: relative;
  border: 5px solid #ffffff;
  border-bottom: none;
  height: 100%;
  width: 80%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reservation-section .banner .bannerCta .cta {
  position: absolute;
  bottom: -24px;
  left: 25%;
}
.reservation-section .banner .bannerCta::before {
  content: "";
  height: 5px;
  width: 20%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  left: 0;
}
.reservation-section .banner .bannerCta::after {
  content: "";
  height: 5px;
  width: 20%;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  right: 0;
}

.footer {
  min-height: 200px;
  padding: 25px;
  margin-top: 25px;
  border-top: 1px solid white;
}
.footer-content-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-content-top .logo {
  width: 30%;
}
.footer-content-top .footer-nav {
  width: 65%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-content-top .footer-nav a {
  margin: 0 10px;
  line-height: 30px;
}
@media screen and (max-width: 768px) {
  .footer-content-top {
    justify-content: center;
  }
  .footer-content-top .footer-nav {
    margin: 40px 0;
    width: 100%;
  }
}
.footer-content-bottom {
  margin: 20px auto;
}
.footer-content-bottom p {
  text-align: center;
}

#menu-header {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  height: 500px;
}
#menu-header .banner {
  margin-top: 75px;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#menu-header .banner .main-banner {
  z-index: 1;
  position: relative;
  border: 5px solid #ffffff;
  border-bottom: none;
  height: 100%;
  width: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #ffffff;
}
#menu-header .banner .main-banner .cta {
  position: absolute;
  bottom: -24px;
  left: 25%;
}
@media screen and (max-width: 440px) {
  #menu-header .banner .main-banner {
    width: 80%;
  }
}
#menu-header .banner .main-banner p {
  text-align: center;
  white-space: pre-line;
}

.food-menu-section .food-menu {
  position: relative;
  width: 100%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.food-menu-section .food-menu .rightImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}
.food-menu-section .food-menu .leftImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
}
.food-menu-section .food-menu-list {
  width: 50%;
  border: 5px solid #ffffff;
}
.food-menu-section .food-menu-list .largetitle {
  text-align: center;
  margin-top: 40px;
}
.food-menu-section .food-menu-list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.food-menu-section .food-menu-list-item:last-child {
  margin-bottom: 40px;
}
.food-menu-section .food-menu-list-item .container {
  border-bottom: 1px solid #ffffff;
}
.food-menu-section .food-menu-list-item .item-detail {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.food-menu-section .food-menu-list-item .item-detail p {
  line-height: 28px;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .food-menu-section .food-menu {
    justify-content: flex-end;
    padding-right: 15px;
  }
  .food-menu-section .food-menu:nth-child(2) {
    justify-content: flex-start;
    padding-left: 15px;
  }
  .food-menu-section .food-menu-list {
    width: 65%;
  }
  .food-menu-section .food-menu .rightImage,
.food-menu-section .food-menu .leftImage {
    width: 25%;
  }
}
@media screen and (max-width: 540px) {
  .food-menu-section .food-menu {
    justify-content: center;
  }
  .food-menu-section .food-menu:nth-child(2) {
    justify-content: center;
  }
  .food-menu-section .food-menu-list {
    width: 90%;
  }
  .food-menu-section .food-menu .rightImage,
.food-menu-section .food-menu .leftImage {
    display: none;
  }
}

.desert-banner-section {
  background: url(../img/bgbanner.png) no-repeat center;
  background-size: cover;
  height: 450px;
  padding: 0;
}
.desert-banner-section .banner {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.desert-banner-section .banner .main-banner {
  z-index: 1;
  position: relative;
  border: 5px solid #ffffff;
  border-bottom: none;
  height: 100%;
  width: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #ffffff;
}
.desert-banner-section .banner .main-banner .cta {
  position: absolute;
  bottom: -24px;
  left: 25%;
}
@media screen and (max-width: 440px) {
  .desert-banner-section .banner .main-banner {
    width: 80%;
  }
}
.desert-banner-section .banner .main-banner p {
  text-align: center;
  white-space: pre-line;
}
.desert-banner-section .banner #desert-banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.desert-section {
  min-height: 800px;
}
.desert-section .desert-list-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.desert-section .desert-list-items .desert-items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.desert-section .desert-list-items .desert-items .items {
  border: 3px solid #ffffff;
  width: 22%;
  margin-bottom: 30px;
}
.desert-section .desert-list-items .desert-items .items .img-bg img {
  width: 100%;
}
.desert-section .desert-list-items .desert-items .items .desert-info {
  padding: 20px 0;
}
.desert-section .desert-list-items .desert-items .items .desert-info p,
.desert-section .desert-list-items .desert-items .items .desert-info h3 {
  line-height: 30px;
  text-align: center;
  font-weight: normal;
}
@media screen and (max-width: 990px) {
  .desert-section .desert-list-items .desert-items .items {
    width: 32%;
  }
}
@media screen and (max-width: 768px) {
  .desert-section .desert-list-items .desert-items .items {
    width: 46%;
  }
}
@media screen and (max-width: 440px) {
  .desert-section .desert-list-items .desert-items .items {
    width: 100%;
  }
}

#reservation-header {
  background: url(../img/reserv.png) no-repeat center;
  background-size: cover;
  height: 500px;
}
#reservation-header .banner {
  margin-top: 75px;
  width: 100%;
  height: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#reservation-header .banner .main-banner {
  z-index: 1;
  position: relative;
  border: 5px solid #ffffff;
  border-bottom: none;
  height: 100%;
  width: 50%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 5px solid #ffffff;
}
#reservation-header .banner .main-banner .cta {
  position: absolute;
  bottom: -24px;
  left: 25%;
}
@media screen and (max-width: 440px) {
  #reservation-header .banner .main-banner {
    width: 80%;
  }
}
#reservation-header .banner .main-banner p {
  text-align: center;
  white-space: pre-line;
}

.about-section .about-section-boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.about-section .about-section-boxes .boxes-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-section .about-section-boxes .boxes-container .box {
  border: 3px solid #ffffff;
  width: 32%;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .about-section .about-section-boxes .boxes-container .box {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .about-section .about-section-boxes .boxes-container .box {
    width: 100%;
  }
}
.about-section .about-section-boxes .boxes-container .box img {
  width: 100%;
}
.about-section .about-section-boxes .boxes-container .box .box-info {
  min-height: 340px;
  margin-top: 25px;
}
.about-section .about-section-boxes .boxes-container .box .box-info h3 {
  text-align: center;
}
.about-section .about-section-boxes .boxes-container .box .box-info .detail {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ourStory-section {
  min-height: 800px;
}
.ourStory-section .ourStory {
  margin: 50px 0;
}
.ourStory-section .ourStory-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ourStory-section .ourStory-content-text {
  width: 55%;
}
.ourStory-section .ourStory-content-image {
  width: 40%;
}
.ourStory-section .ourStory-content-image img {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .ourStory-section .ourStory-content .ourStory-content-text p {
    white-space: normal;
  }
}
@media screen and (max-width: 768px) {
  .ourStory-section .ourStory-content {
    justify-content: center;
  }
  .ourStory-section .ourStory-content .ourStory-content-text,
.ourStory-section .ourStory-content .ourStory-content-image {
    width: 90%;
  }
  .ourStory-section .ourStory-content .ourStory-content-text {
    margin-bottom: 40px;
  }
  .ourStory-section .ourStory-content .ourStory-content-text h2 {
    white-space: normal;
  }
}

.ourTeam-section .ourTeam {
  margin-bottom: 50px;
}
.ourTeam-section .ourTeam .ourTeam-content {
  width: 100%;
}
.ourTeam-section .ourTeam .ourTeam-content .Title {
  margin-bottom: 50px;
}
.ourTeam-section .ourTeam .ourTeam-content .team-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ourTeam-section .ourTeam .ourTeam-content .team-members .team-member {
  width: 22%;
}
.ourTeam-section .ourTeam .ourTeam-content .team-members .team-member img {
  width: 100%;
}
.ourTeam-section .ourTeam .ourTeam-content .team-members .team-member .profile-detail {
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .ourTeam-section .ourTeam .ourTeam-content .team-members .team-member {
    width: 45%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 440px) {
  .ourTeam-section .ourTeam .ourTeam-content .team-members .team-member {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */