@font-face {
  font-family: openSansBold;
  src: url(../fonts/opensans/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: openSansnormal;
  src: url(../fonts/opensans/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Italianno;
  src: url(../fonts/Italianno-Regular.ttf) format("truetype");
}
// colors
$whiteColor: #ffffff;
$blackColor: #000000;
$BrandColor: #e49031;
$DarkColor: #0e0c0f;
$linearGradient: linear-gradient(
  180deg,
  #000000 -26.87%,
  rgba(0, 0, 0, 0) 119%
);
// fonts
$fontOpensansBold: "openSansBold", sans-serif;
$fontOpensansNormal: "openSansnormal", sans-serif;
$Italiannofont: "Italianno", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontOpensansNormal;
  font-size: 18px;
  color: $whiteColor;
}
body {
  background-color: $DarkColor;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  border: none;
  outline: none;
}

@mixin flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
%flexBetween {
  justify-content: space-between;
}
%flexAround {
  justify-content: space-around;
}
%flexCenter {
  justify-content: center;
}
.container {
  width: 80%;
  height: 100%;
}
h2 {
  font-weight: 400;
}
@mixin textCenter {
  text-align: center;
  white-space: pre-line;
}
.text-center {
  text-align: center;
}
.preLine {
  white-space: pre-line;
}
.small-text {
  font-size: 1.3rem;
  font-weight: normal;
}
.mediumtitle {
  font-family: $Italiannofont;
  font-size: 3rem;
}
.small-title {
  font-family: $Italiannofont;
  font-size: 2.5rem;
  font-weight: 400;
}
.section {
  width: 100%;
  padding: 50px 0 0;
  @include flex;
  @extend %flexCenter;
}
.bannerTitle {
  text-align: center;
  font-size: 6rem;
  font-family: $Italiannofont;
  //   z-index: 2;
  color: $whiteColor;
  font-weight: 400;
  @media screen and(max-width:768px) {
    font-size: 4rem;
  }
}
.largetitle {
  font-family: $Italiannofont;
  font-size: 4.5rem;
}
.hidden {
  display: none;
}
.show {
  opacity: 1;
}
@mixin gridTemplate($Row, $Col) {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat($Row, 1fr);
  grid-template-columns: repeat($Col, 1fr);
}
@media screen and (max-width: 990px) {
  .largetitle {
    font-size: 4rem;
  }
}
@media screen and(max-width:540px) {
  * {
    font-size: 15px;
  }
}
// form & inputs
.form-group {
  @include flex;
  @extend %flexBetween;
  margin-bottom: 30px;
}
input,
select {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
