// .reserve-forminput {
//   @include forminput(30%, $whiteColor);
// }
// .Btn {
//   @include forminput(180px, $whiteColor);
//   // background-color: $BrandColor;
// }
@mixin buttons($width) {
  color: $blackColor;
  height: 48px;
  width: $width;
  font-size: 18px;
  background-color: $BrandColor;
  @include flex;
  @extend %flexCenter;
}
.largeBtn {
  @include buttons(50%);
}
.mediumBtn {
  @include buttons(200px);
}
.smallBtn {
  @include buttons(120px);
}
@mixin darkBgAfter($url) {
  content: url($url);
  width: 100%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  left: 0;
  z-index: 3;
  filter: blur(15px);
  contain: content;
  -webkit-filter: blur(15px);
  -o-filter: blur(15px);
}
@mixin DarkBgBefore {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: transparentize($color: $blackColor, $amount: 0.6);
}
@mixin bannerCta($width) {
  z-index: 1;
  position: relative;
  border: 5px solid $whiteColor;
  border-bottom: none;
  height: 100%;
  width: $width;
  color: $whiteColor;
  background-color: transparentize($color: $blackColor, $amount: 0.2);

  .cta {
    position: absolute;
    bottom: -24px;
    left: 25%;
  }
}
// reservation form
form {
  width: 90%;
  margin: 45px 0;
  .form-group-1 > .form-field {
    width: 40%;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .form-group-2 {
    .form-field:nth-child(even) {
      width: 40%;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .form-field:nth-child(odd) {
      width: 25%;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}
// input triangle icon
#date {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    background: none;
    z-index: 1;
  }

  &::before {
    content: url("../img/akar-icons_chevron-down.png");
    position: absolute;
    top: 2px;
    right: 2px;
  }
}
#time {
  background-image: url("../img/akar-icons_chevron-down.png");
  background-repeat: no-repeat;
  background-position: right center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(../img/akar-icons_chevron-down.png) no-repeat 100%
    center;
  option {
    background-color: $blackColor;
  }
}
// menu page banner
@mixin banner {
  width: 100%;
  height: 270px;
  @include flex;
  @extend %flexCenter;
  .main-banner {
    @include bannerCta(50%);
    @media screen and(max-width:440px) {
      width: 80%;
    }
    border-bottom: 5px solid $whiteColor;

    p {
      @include textCenter;
    }
  }
}
.overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  // @include flex;
  @extend %flexCenter;
  align-items: center;
  &.Openmodal {
    .modal {
      top: 0;
    }
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 150%);
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 10;
  opacity: 0;
  // display: none;
  // opacity: 1;
  flex-direction: column;
  transition: transform 0.4s, opacity 0.4s;
  // transform: translateY(0);
  p {
    color: $DarkColor;
    margin-bottom: 20px;
  }
  &.active {
    // animation: modalIn 0.6s;
    // top: 50%;
    // display: flex;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &.closemodal {
    // transform: translate(-50%, -50%);
    animation: modalIn reverse 0.6s;
    // display: none;
    // opacity: 0;
  }
  // @keyframes modalIn {
  //   from {
  //     opacity: 0;
  //     transform: translate(-50%, -30%);
  //   }
  //   to {
  //     opacity: 1;
  //     transform: translate(-50%, -50%);
  //   }
  // }
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
