// .reserve-forminput {
//   @include forminput(30%, $whiteColor);
// }
// .Btn {
//   @include forminput(180px, $whiteColor);
//   // background-color: $BrandColor;
// }
@mixin buttons($width) {
  color: $blackColor;
  height: 48px;
  width: $width;
  font-size: 18px;
  background-color: $BrandColor;
  @include flex;
  @extend %flexCenter;
}
.largeBtn {
  @include buttons(50%);
}
.mediumBtn {
  @include buttons(200px);
}
.smallBtn {
  @include buttons(120px);
}
@mixin darkBgAfter($url) {
  content: url($url);
  width: 100%;
  top: 5%;
  bottom: 5%;
  position: absolute;
  left: 0;
  z-index: 3;
  filter: blur(15px);
  contain: content;
  -webkit-filter: blur(15px);
  -o-filter: blur(15px);
}
@mixin DarkBgBefore {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: transparentize($color: $blackColor, $amount: 0.6);
}
