.header {
  background: url(../img/image.png) no-repeat center;
  background-size: cover;
  height: 650px;
  width: 100%;

  .headercontainer {
    .nav {
      background: $linearGradient;
      min-height: 100px;
      @include flex;
      @extend %flexCenter;
      width: 100%;

      .res-menu {
        display: none;

        @extend %flexBetween;
        .menu-icon,
        .res-logo {
          z-index: 11;
        }
        @media screen and(max-width:990px) {
          @include flex;
        }
      }
      .list-Items {
        @include flex;
        @extend %flexBetween;
        height: 100%;
        @media screen and(max-width:990px) {
          height: 0;
          width: 100%;
          left: 0;
          z-index: 10;
          opacity: 0;
          position: fixed;
          top: -700px;
          flex-direction: column;
          transition: all ease 0.6s;
          background-color: transparentize($blackColor, 0.05);
          .logo {
            display: none;
          }
          &.show {
            top: 0;
            padding-top: 100px;
            height: 100%;
            opacity: 1;
            transition: all ease 0.6s;
          }
        }
        .Item {
          padding: 5px;

          .link {
            position: relative;
            color: $whiteColor;
            line-height: 40px;
            display: block;
            &::before {
              content: "";
              height: 2px;
              position: absolute;
              bottom: 5px;
              left: 0;
              background-color: $BrandColor;
              width: 0;
              transition: all ease 0.3s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
    .banner {
      width: 100%;
      height: 270px;
      @include flex;
      @extend %flexCenter;
      .bannerCta {
        @include bannerCta(50%);

        margin-top: 75px;
        h1 {
          text-align: center;
          font-size: 6rem;
          font-family: $Italiannofont;
          //   z-index: 2;
          color: $whiteColor;
          font-weight: 400;
          @media screen and(max-width:768px) {
            font-size: 4rem;
          }
        }
        .text {
          width: 100%;
          @include flex;
          @extend %flexCenter;
          p {
            text-align: center;
            // width: 50%;
            white-space: pre-line;
          }
        }

        @media screen and(max-width:768px) {
          width: 75%;
        }
      }
    }
  }
}

.story-section {
  min-height: 650px;

  .story-content {
    @include flex;
    @extend %flexBetween;
    width: 100%;
    height: 100%;

    .grid-images {
      height: 80%;
      @include flex;
      @extend %flexBetween;
      width: 60%;
      img {
        width: 100%;
      }
      &-col1 {
        width: calc(50% - 10px);
        @include flex;
        flex-direction: column;
        @extend %flexBetween;
        height: 100%;
        .image1 {
          height: calc(34% - 10px);
        }
        .image2 {
          height: calc(66% - 10px);
        }
      }
      &-col2 {
        width: calc(50% - 10px);
        height: 100%;
        .image3 {
          height: 100%;
        }
      }
      @media screen and (max-width: 990px) {
        width: 80%;
        order: 1;
      }
      @media screen and (max-width: 768px) {
        height: 60%;
      }
      @media screen and (max-width: 540px) {
        height: 50%;
        width: 100%;
        .image1,
        .image2,
        .image3 {
          width: 100%;
          height: 50%;
          object-fit: cover;
        }
        &-col1,
        &-col2 {
          width: 100%;
        }
      }
    }
    .description {
      width: 35%;
      @media screen and (max-width: 990px) {
        width: 80%;
        margin-bottom: 50px;
      }
      p {
        line-height: 24px;
        white-space: pre-line;
        &:last-of-type {
          padding-top: 25px;
        }
      }
    }
    @media screen and (max-width: 990px) {
      justify-content: center;
    }
  }
}
// menu section
.menu-section {
  min-height: 550px;
  position: relative;
  z-index: 1;
  &::before {
    @include DarkBgBefore;
  }
  &::after {
    @include darkBgAfter("../img/image 39.png");
  }
  .main-content {
    @include flex;
    @extend %flexBetween;
    height: 100%;
    position: relative;
    z-index: 10;
    .title {
      width: 20%;
    }
    .menu {
      width: 75%;
      height: 100%;
      @include flex;
      @extend %flexBetween;
      .menu-detail {
        width: 32%;
        height: 100%;
        background-color: $DarkColor;
        transition: all ease 0.3s;
        h4 {
          color: $BrandColor;
          transition: all ease 0.3s;
        }
        &:hover {
          background-color: $BrandColor;
          h4 {
            color: $DarkColor;
          }
        }
        img {
          width: 100%;
        }
        .food-detail {
          width: 100%;
          line-height: 100px;
          @include flex;
          @extend %flexCenter;
        }

        @media screen and (max-width: 440px) {
          width: 80%;
          margin: 20px auto;
        }
      }
    }
    @media screen and(max-width:990px) {
      flex-direction: column;
      flex-wrap: nowrap;
      .title {
        text-align: center;
        width: 80%;
      }
      .menu {
        width: 100%;
      }
    }
  }
}
.place-section {
  min-height: 650px;
  .main-content {
    @include flex;
    @extend %flexBetween;
    height: 100%;
    .description {
      width: 46%;
      h2,
      p {
        white-space: pre-line;
      }
      .mediumBtn {
        margin-top: 50px;
      }
    }
    .photos {
      width: 46%;
      @include flex;
      @extend %flexBetween;
      height: 100%;
      .imgContainer {
        position: relative;
        height: 100%;
        width: 32%;
        img {
          height: 80%;
          width: 100%;
        }

        &:nth-of-type(2) {
          margin-top: 100px;
        }
        &:nth-of-type(3) {
          margin-top: 200px;
        }
      }
    }

    @media screen and(max-width:768px) {
      .photos,
      .description {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 440px) {
      .photos .imgContainer {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
.gallery-section {
  position: relative;
  min-height: 550px;
  padding-bottom: 0;
  // background: url(../img/gallerybg.png) no-repeat center;

  background-size: 100%;
  z-index: 1;
  &::before {
    // content: "";
    // width: 100%;
    // height: 100%;
    // top: 0;
    // position: absolute;
    // left: 0;
    // z-index: 4;
    // background-color: transparentize($color: $blackColor, $amount: 0.6);
    @include DarkBgBefore;
  }
  &::after {
    @include darkBgAfter("../img/gallerybg.png")
      // content: url("../img/gallerybg.png");
      // width: 100%;
      // height: 90%;
      // bottom: 0;
      // position: absolute;
      // left: 0;
      // z-index: 3;
      // filter: blur(15px);
      // contain: content;
      // -webkit-filter: blur(15px);
      // -o-filter: blur(15px);
;
  }
  .main-content {
    height: 90%;
    width: 80%;
    position: relative;
    top: 5%;
    left: 10%;
    z-index: 10;
    .gallery {
      height: 80%;
      position: relative;
      z-index: 10;
      margin-bottom: 20px;
      &-grid-content {
        height: 100%;
        display: grid;
        width: 100%;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        gap: 10px;
        .photo1 {
          grid-area: ph1;
        }
        .photo2 {
          grid-area: ph2;
        }
        .photo3 {
          grid-area: ph3;
        }
        .photo4 {
          grid-area: ph4;
        }
        .photo5 {
          grid-area: ph5;
        }
        .photo6 {
          grid-area: ph6;
        }
        .photo img {
          width: 100%;
          height: 100%;
        }
        grid-template-areas: "ph1 ph2 ph4 ph5" "ph1 ph3 ph4 ph6";
      }
      @media screen and (max-width: 768px) {
        height: auto;
        &-grid-content {
          grid-template: repeat(4, 1fr) / repeat(2, 1fr);
          grid-template-areas: "ph1 ph2" "ph1 ph3" "ph4 ph5" "ph4 ph6";
        }
      }
    }
  }
}
.reservation-section {
  min-height: 550px;
  .banner {
    width: 100%;
    min-height: 270px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @extend %flexCenter;
    .bannerCta {
      @include bannerCta(80%);
      @include flex;
      @extend %flexCenter;
    }
  }
}
.footer {
  min-height: 200px;
  padding: 25px;
  margin-top: 25px;
  border-top: 1px solid white;
  &-content {
    &-top {
      @include flex;
      @extend %flexBetween;
      .logo {
        width: 30%;
      }
      .footer-nav {
        width: 65%;
        @include flex;
        @extend %flexBetween;
        a {
          margin: 0 10px;
          line-height: 30px;
        }
      }
      @media screen and(max-width:768px) {
        justify-content: center;

        .footer-nav {
          margin: 40px 0;
          width: 100%;
        }
      }
    }
    &-bottom {
      margin: 20px auto;
      p {
        text-align: center;
      }
    }
  }
}
