#mainpage-header {
  background: url(../img/image.png) no-repeat center;
}
.header {
  background-size: cover;
  height: 650px;
  width: 100%;

  .headercontainer {
    .nav {
      background: $linearGradient;
      min-height: 100px;
      @include flex;
      @extend %flexCenter;
      width: 100%;

      .res-menu {
        display: none;

        @extend %flexBetween;
        .menu-icon,
        .res-logo {
          z-index: 11;
        }
        @media screen and(max-width:990px) {
          @include flex;
        }
      }
      .list-Items {
        @include flex;
        @extend %flexBetween;
        height: 100%;
        @media screen and(max-width:990px) {
          height: 0;
          width: 100%;
          left: 0;
          z-index: 10;
          opacity: 0;
          position: fixed;
          top: -700px;
          flex-direction: column;
          transition: all ease 0.6s;
          background-color: transparentize($blackColor, 0.05);
          .logo {
            display: none;
          }
          &.show {
            top: 0;
            padding-top: 100px;
            height: 100%;
            opacity: 1;
            transition: all ease 0.6s;
          }
        }
        .Item {
          padding: 5px;

          .link {
            position: relative;
            color: $whiteColor;
            line-height: 40px;
            display: block;
            &::before {
              content: "";
              height: 2px;
              position: absolute;
              bottom: 5px;
              left: 0;
              background-color: $BrandColor;
              width: 0;
              transition: all ease 0.3s;
            }
            &:hover::before {
              width: 100%;
            }
          }
        }
      }
    }
    .banner {
      width: 100%;
      height: 270px;
      @include flex;
      @extend %flexCenter;
      #bannerCta {
        @include bannerCta(50%);
        &::before {
          content: "";
          height: 5px;
          width: 20%;
          position: absolute;
          bottom: 0;
          background-color: $whiteColor;
          left: 0;
        }
        &::after {
          content: "";
          height: 5px;
          width: 20%;
          position: absolute;
          bottom: 0;
          background-color: $whiteColor;
          right: 0;
        }
        margin-top: 75px;

        .text {
          width: 100%;
          @include flex;
          @extend %flexCenter;
          p {
            @include textCenter;
          }
        }

        @media screen and(max-width:768px) {
          width: 75%;
        }
      }
    }
  }
}

.story-section {
  min-height: 650px;

  .story-content {
    @include flex;
    @extend %flexBetween;
    width: 100%;
    height: 100%;

    .grid-images {
      height: 80%;
      @include flex;
      @extend %flexBetween;
      width: 60%;
      img {
        width: 100%;
      }
      &-col1 {
        width: calc(50% - 10px);
        @include flex;
        flex-direction: column;
        @extend %flexBetween;
        height: 100%;
        .image1 {
          height: calc(34% - 10px);
        }
        .image2 {
          height: calc(66% - 10px);
        }
      }
      &-col2 {
        width: calc(50% - 10px);
        height: 100%;
        .image3 {
          height: 100%;
        }
      }
      @media screen and (max-width: 990px) {
        width: 80%;
        order: 1;
      }
      @media screen and (max-width: 768px) {
        height: 60%;
      }
      @media screen and (max-width: 540px) {
        height: 50%;
        width: 100%;
        .image1,
        .image2,
        .image3 {
          width: 100%;
          height: 50%;
          object-fit: cover;
        }
        &-col1,
        &-col2 {
          width: 100%;
        }
      }
    }
    .description {
      width: 35%;
      @media screen and (max-width: 990px) {
        width: 80%;
        margin-bottom: 50px;
      }
      p {
        line-height: 24px;
        white-space: pre-line;
        &:last-of-type {
          padding-top: 25px;
        }
      }
    }
    @media screen and (max-width: 990px) {
      justify-content: center;
    }
  }
}
// menu section
.menu-section {
  min-height: 550px;
  position: relative;
  z-index: 1;
  &::before {
    @include DarkBgBefore;
  }
  &::after {
    @include darkBgAfter("../img/image 39.png");
  }
  .main-content {
    @include flex;
    @extend %flexBetween;
    height: 100%;
    position: relative;
    z-index: 10;
    .title {
      width: 20%;
    }
    .menu {
      width: 75%;
      height: 100%;
      @include flex;
      @extend %flexBetween;
      .menu-detail {
        width: 32%;
        border: 3px solid $whiteColor;
        height: 100%;
        background-color: $DarkColor;
        transition: all ease 0.3s;
        h4 {
          color: $BrandColor;
          transition: all ease 0.3s;
        }
        &:hover {
          background-color: $BrandColor;
          h4 {
            color: $DarkColor;
          }
        }
        img {
          width: 100%;
        }
        .food-detail {
          width: 100%;
          line-height: 100px;
          @include flex;
          @extend %flexCenter;
        }

        @media screen and (max-width: 440px) {
          width: 80%;
          margin: 20px auto;
        }
      }
    }
    @media screen and(max-width:990px) {
      flex-direction: column;
      flex-wrap: nowrap;
      .title {
        text-align: center;
        width: 80%;
      }
      .menu {
        width: 100%;
      }
    }
  }
}
.place-section {
  min-height: 650px;
  .main-content {
    @include flex;
    @extend %flexBetween;
    height: 100%;
    .description {
      width: 46%;
      h2,
      p {
        white-space: pre-line;
      }
      .mediumBtn {
        margin-top: 50px;
      }
    }
    .photos {
      width: 46%;
      @include flex;
      @extend %flexBetween;
      height: 100%;
      .imgContainer {
        position: relative;
        height: 100%;
        width: 32%;
        img {
          height: 80%;
          width: 100%;
        }

        &:nth-of-type(2) {
          margin-top: 100px;
        }
        &:nth-of-type(3) {
          margin-top: 200px;
        }
      }
    }

    @media screen and(max-width:768px) {
      .photos,
      .description {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 440px) {
      .photos .imgContainer {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
.gallery-section {
  position: relative;
  min-height: 550px;
  padding-bottom: 0;
  // background: url(../img/gallerybg.png) no-repeat center;

  background-size: 100%;
  z-index: 1;
  &::before {
    // content: "";
    // width: 100%;
    // height: 100%;
    // top: 0;
    // position: absolute;
    // left: 0;
    // z-index: 4;
    // background-color: transparentize($color: $blackColor, $amount: 0.6);
    @include DarkBgBefore;
  }
  &::after {
    @include darkBgAfter("../img/gallerybg.png")
      // content: url("../img/gallerybg.png");
      // width: 100%;
      // height: 90%;
      // bottom: 0;
      // position: absolute;
      // left: 0;
      // z-index: 3;
      // filter: blur(15px);
      // contain: content;
      // -webkit-filter: blur(15px);
      // -o-filter: blur(15px);
;
  }
  .main-content {
    height: 90%;
    width: 80%;
    position: relative;
    top: 5%;
    left: 10%;
    z-index: 10;
    .gallery {
      height: 80%;
      position: relative;
      z-index: 10;
      margin-bottom: 20px;
      &-grid-content {
        height: 100%;
        display: grid;
        width: 100%;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        gap: 10px;
        .photo1 {
          grid-area: ph1;
        }
        .photo2 {
          grid-area: ph2;
        }
        .photo3 {
          grid-area: ph3;
        }
        .photo4 {
          grid-area: ph4;
        }
        .photo5 {
          grid-area: ph5;
        }
        .photo6 {
          grid-area: ph6;
        }
        .photo img {
          width: 100%;
          height: 100%;
        }
        grid-template-areas: "ph1 ph2 ph4 ph5" "ph1 ph3 ph4 ph6";
      }
      @media screen and (max-width: 768px) {
        height: auto;
        &-grid-content {
          grid-template: repeat(4, 1fr) / repeat(2, 1fr);
          grid-template-areas: "ph1 ph2" "ph1 ph3" "ph4 ph5" "ph4 ph6";
        }
      }
    }
  }
}
.reservation-section {
  min-height: 550px;
  .banner {
    width: 100%;
    min-height: 270px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @extend %flexCenter;
    .bannerCta {
      @include bannerCta(80%);
      &::before {
        content: "";
        height: 5px;
        width: 20%;
        position: absolute;
        bottom: 0;
        background-color: $whiteColor;
        left: 0;
      }
      &::after {
        content: "";
        height: 5px;
        width: 20%;
        position: absolute;
        bottom: 0;
        background-color: $whiteColor;
        right: 0;
      }
      @include flex;
      @extend %flexCenter;
    }
  }
}
.footer {
  min-height: 200px;
  padding: 25px;
  margin-top: 25px;
  border-top: 1px solid white;
  &-content {
    &-top {
      @include flex;
      @extend %flexBetween;
      .logo {
        width: 30%;
      }
      .footer-nav {
        width: 65%;
        @include flex;
        @extend %flexBetween;
        a {
          margin: 0 10px;
          line-height: 30px;
        }
      }
      @media screen and(max-width:768px) {
        justify-content: center;

        .footer-nav {
          margin: 40px 0;
          width: 100%;
        }
      }
    }
    &-bottom {
      margin: 20px auto;
      p {
        text-align: center;
      }
    }
  }
}
// ///////////////@at-root
// menu page
#menu-header {
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  height: 500px;
  .banner {
    margin-top: 75px;
    @include banner;
  }
}
.food-menu-section {
  .food-menu {
    position: relative;
    width: 100%;
    margin: 40px auto;
    @include flex;
    @extend %flexCenter;
    .rightImage {
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
    }
    .leftImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 20%;
    }
    &-list {
      width: 50%;
      border: 5px solid $whiteColor;
      .largetitle {
        text-align: center;
        margin-top: 40px;
      }

      &-item {
        @include flex;
        @extend %flexCenter;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 40px;
        }
        .container {
          border-bottom: 1px solid $whiteColor;
        }
        .item-detail {
          @include flex;
          @extend %flexBetween;
          p {
            line-height: 28px;
            padding-bottom: 15px;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      justify-content: flex-end;
      padding-right: 15px;
      &:nth-child(2) {
        justify-content: flex-start;
        padding-left: 15px;
      }
      &-list {
        width: 65%;
      }
      .rightImage,
      .leftImage {
        width: 25%;
      }
    }
    @media screen and (max-width: 540px) {
      justify-content: center;
      &:nth-child(2) {
        justify-content: center;
      }
      &-list {
        width: 90%;
      }
      .rightImage,
      .leftImage {
        display: none;
      }
    }
  }
}
.desert-banner-section {
  background: url(../img/bgbanner.png) no-repeat center;
  background-size: cover;
  height: 450px;
  padding: 0;
  .banner {
    @include banner;
    #desert-banner {
      @include flex;
      @extend %flexCenter;
    }
  }
}
.desert-section {
  min-height: 800px;
  .desert-list-items {
    @include flex;
    @extend %flexCenter;
    width: 100%;
    .desert-items {
      width: 100%;
      @include flex;
      @extend %flexBetween;
      .items {
        border: 3px solid $whiteColor;
        width: 22%;
        margin-bottom: 30px;
        .img-bg img {
          width: 100%;
        }
        .desert-info {
          padding: 20px 0;
          p,
          h3 {
            line-height: 30px;
            text-align: center;
            font-weight: normal;
          }
        }
        @media screen and (max-width: 990px) {
          width: 32%;
        }
        @media screen and (max-width: 768px) {
          width: 46%;
        }
        @media screen and (max-width: 440px) {
          width: 100%;
        }
      }
    }
  }
}
// reservation page
#reservation-header {
  background: url(../img/reserv.png) no-repeat center;
  background-size: cover;
  height: 500px;
  .banner {
    margin-top: 75px;
    @include banner;
  }
}
.about-section {
  .about-section-boxes {
    @include flex;
    @extend %flexCenter;
    width: 100%;
    .boxes-container {
      width: 100%;
      @include flex;
      @extend %flexBetween;
      .box {
        border: 3px solid $whiteColor;
        width: 32%;
        margin-bottom: 30px;
        @media screen and (max-width: 990px) {
          width: 48%;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
        .box-info {
          min-height: 340px;
          margin-top: 25px;
          h3 {
            text-align: center;
          }
          .detail {
            @include flex;
            @extend %flexCenter;
          }
        }
      }
    }
  }
}
.ourStory-section {
  min-height: 800px;
  .ourStory {
    margin: 50px 0;
    &-content {
      width: 100%;
      @include flex;
      @extend %flexBetween;
      &-text {
        width: 55%;
      }
      &-image {
        width: 40%;
        img {
          width: 100%;
        }
      }
      @media screen and (max-width: 990px) {
        .ourStory-content-text {
          p {
            white-space: normal;
          }
        }
      }
      @media screen and (max-width: 768px) {
        justify-content: center;
        .ourStory-content-text,
        .ourStory-content-image {
          width: 90%;
        }
        .ourStory-content-text {
          margin-bottom: 40px;
        }
        .ourStory-content-text h2 {
          white-space: normal;
        }
      }
    }
  }
}
.ourTeam-section {
  .ourTeam {
    margin-bottom: 50px;
    .ourTeam-content {
      width: 100%;
      .Title {
        margin-bottom: 50px;
      }
      .team-members {
        @include flex;
        @extend %flexBetween;
        .team-member {
          width: 22%;
          img {
            width: 100%;
          }
          .profile-detail {
            margin: 10px 0;
          }
          @media screen and (max-width: 768px) {
            width: 45%;
            margin-bottom: 40px;
          }
          @media screen and (max-width: 440px) {
            width: 100%;
          }
        }
      }
    }
  }
}
#contactus-header {
  height: unset;
}
.contact-section {
  position: relative;
  padding: 0;
  height: 600px;
  width: 100%;
  iframe {
    width: 100%;
    height: 100%;
  }
  .contact-info {
    width: 45%;
    height: 80%;
    position: absolute;
    background-color: $DarkColor;
    left: 15%;
    top: 10%;
    @include flex;
    @extend %flexCenter;
    &-content {
      width: 80%;
      height: 80%;

      .info {
        margin-bottom: 25px;
      }
    }
    @media screen and(max-width:768px) {
      width: 65%;
    }
    @media screen and(max-width:768px) {
      width: 75%;
    }
  }
  //   background: url(https://goo.gl/maps/6RKeCbvfkNXjCBVf6);
}
